.text-ar-en {
font-size: 1.5rem;
text-align: justify;
}
.text-ar-ur {
    font-size: 1.5rem;
    text-align: right;
    font-family: var(--urdu-font);

}
.heading-ar-en {
    font-size: 3rem;
    
}
.heading-ar-ur {
    font-size: 3rem;
    font-family: var(--urdu-font);
}