.cards-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
// .section-title-main{
//     margin:0px
// }
@media (max-width: 550px) {
    .cards-container{
      flex-direction: column;
      padding: 0px;
  
     }
    }