.banner-container{
    width:100%;
    background-image:url(https://res.cloudinary.com/dgupxycnh/image/upload/v1678552866/banner_y5jdxp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}
@media (max-width: 550px) {
  .banner-container {
    height: 250px;
   }
  }
.banner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(500px + 90px );
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black overlay */
    z-index: 0;
  }
  @media (max-width: 550px) {
    .banner-container::before {
      height: calc(250px + 90px );
     }
    }
  .banner-text {
    font-family: var(--heading-font);
    color: var(--color-three);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    position: relative;
    width:70%;
    padding-top: 30px;
    margin: auto;
    z-index: 3;
  }
  @media (max-width: 550px) {
    .banner-text {
      font-size: 1.5rem;
      width:80%;
      padding-top: 20px;
     }
    }
  
  .search-field{
    width:55%;
    margin: auto;
  }
  @media (max-width: 550px) {
    .search-field{
      width:95%;
     }
    }
  .h-50{
    min-height: 65px;
  }
  @media (max-width: 550px) {
    .h-50{
      min-height: 45px;
     }
    }
  .btn-outline-secondary{
    background-color: var(--color-one);
  }
  .btn-outline-secondary:hover{
    background-color: var(--color-five);
  }
  .btn-outline-secondary img{
    color: var(--color-three);
  }
  .form-control{
    color: var(--color-one);
    font-family: var(--text-font);
    border-color: var(--color-one);
    outline: 0;
    font-size: 1.2rem;
}
@media (max-width: 550px) {
  .form-control {
    font-size: .9rem;
          }
  }
  .form-control::placeholder{
    color: var(--color-one);
    font-family: var(--text-font);
    }
    @media (max-width: 550px) {
      .form-control::placeholder {
        font-size: .9rem;
              }
      }
  .form-control:focus{
    color: var(--color-one);
    font-family: var(--text-font);
    border-color: var(--color-one);
    outline: 0;
    font-size: 1rem;
    box-shadow: 0 0 1px 0.1rem var(--color-five);
}
.banner-urdu{
    position: relative;
    font-family: var(--urdu-font);
    font-size: 4rem;
    padding: 1rem 0rem;
    color: var(--color-three);
    font-weight: 500;
    z-index: 3;
}
@media (max-width: 550px) {
  .banner-urdu {
    font-size: 1.5rem;
    font-weight: 600;
   }
  }
.bi-search{
  color: white;
}
