.banner-container{
    width:100%;
    background-image:url(../../../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;
}


// .banner-container::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     /* add a gradient to the background color */
//     background-color: rgba(114, 15, 36, 0.5);
//     background-image: linear-gradient(to bottom, #ffffff, #000000);
//     /* add a blend mode to the colored overlay */
//     mix-blend-mode: screen;
//   }
  .banner-text {
    font-family: var(--text-font);
    color: var(--color-one);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    position: relative;
    width:70%;
    padding-top: 30px;
    margin: auto;
    z-index: 2;
  }
  
  .search-field{
    width:50%;
    margin: auto;
  }
  .h-50{
    min-height: 60px;
  }
  .btn-outline-secondary{
    background-color: var(--color-one);
  }
  .btn-outline-secondary:hover{
    background-color: var(--color-five);
  }
  .btn-outline-secondary img{
    color: var(--color-three);
  }

  .form-control::placeholder{
    color: var(--color-one);
    font-family: var(--text-font);
    }
  .form-control:focus{
    color: var(--color-one);
    font-family: var(--text-font);
    border-color: var(--color-one);
    outline: 0;
    box-shadow: 0 0 3px 0.2rem var(--color-five);
}
.banner-urdu{
    font-family: var(--urdu-font);
    font-size: 4rem;
    padding: 1rem 0rem;
    color: var(--color-one);
    font-weight: 500;
}