.post-artical-cont{
    margin-top:6rem ;
    margin-bottom: 6rem;
}
@media (max-width: 550px) {
    .post-artical-cont{
        margin-top:2rem ;
        margin-bottom: 2rem;
     }
    }
.text-field{
    margin: 40px 0px;
    height: 300px;
    overflow: scroll;

}
.post-artical-form{
    margin: 30px 0px;
}