.importance-of-names-ur{
 text-align: justify;
 padding: 20px;
 font-family: var(--urdu-font);
 font-size: 1.2rem;
 line-height: 2rem;
}
.importance-of-names-en{
    text-align: justify;
    padding: 20px;
    font-family: var(--text-font);
    font-size: 1rem;
   }