
.ABC-card-container{
    padding: 10px;
}
.ABC-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
.ABC-container  li{
    padding: 20px;
}
.bg-secondary{
background-color: var(--color-one) !important;
}
.card-header{
    font-family: var(--text-font);
    font-weight: 900;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}