
.ABC-card-container{
    // padding: 10px;
    width: 98%;
}
.ABC-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--text-font);
    padding: 0px;
}
@media (max-width: 550px) {
    .ABC-card-container{
       width: 100%;
       padding: 0px 10px;
  
     }
    }
.ABC-container  li{
    padding: 10px;
    margin: 10px;

}
@media (max-width: 550px) {
    .ABC-container  li{
        padding: 5px;
        margin: 5px;
  
     }
    }
.bg-secondary{
background-color: var(--color-one) !important;
}
.card-header{
    font-family: var(--text-font);
    font-weight: 900;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 550px) {
    .card-header{
    min-height: 30px;  
     }
    }
.ABC-container li:hover {
        background: white;
        color: var(--color-one);
        border-radius: 5px;
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
    @media (max-width: 550px) {
        .ABC-container li:hover{
        background: white;
        color: var(--color-one);
        border-radius: 5px;
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
      
         }
    }
    @media (max-width: 550px) {
        .card-body{
       padding: 5px;  
         }
        }