.trending-card{
    width:100%;
    margin: 20px 10px;
    }
.line-color:nth-child(odd) {
    background-color: lightgrey;
  }
.urdu-cont{
    justify-content: center;
    font-family: var(--urdu-font);
    font-size: 1.2rem;
}
.support-cont{
    justify-content: center;
    font-family: var(--text-font);
    font-size: 1.2rem;
}
.pagination-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
}
.page-link, .page-link:hover, .page-link:active {
    color: var(--color-one);
}
.heart{
    color:red
}
.span-heart{
    font-family: var(--text-font);
    font-size: small;
    color: red;
  }
  