@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.cdnfonts.com/s/12183/Jameel-Noori-Nastaleeq.woff2');
@import  url('https://fonts.cdnfonts.com/s/12183/Jameel-Noori-Nastaleeq.woff');
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Grand+Hotel&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&family=Antonio:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Grand+Hotel&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&family=Exo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

:root {
  --color-one: #2b6777;
  --color-two: #c8d8e4;
  --color-three: #ffffff ;
  --color-four: #ffffff;
  --color-five: #2b6777;
  --dark-mode:#363636;
  --color-six:#afc5da;
  --color-seven:#fedfb1;
  --heading-font:Antonio;
  --button-font:Exo;

  --text-font: Nunito;
  --button-font: Genty sans;
  --urdu-font:Noto Nastaliq Urdu, serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-box{
  display: flex;
}
.flex-box-col{
  display: flex;
  flex-direction: column;
}
li, ul {
  list-style-type: none;
}
.flex-center{
  justify-content: center;
display: flex;
}
.w-50{
  width:50%
}
.w-100{
  width: 100%;
}
.section-title-main{
  display: flex;
  border-left: 1rem solid var(--color-one);
  margin: 40px 0px;
  padding:0rem 0rem 0rem 2rem;
  font-size: 2.5rem;
  flex-direction: column;
  text-align: left;
  color: var(--color-one);
}
.section-title-main h2{
  font-family: var(--urdu-font);
  font-size: 3rem;
  line-height: 2.5rem;
  font-family: var(--heading-font);
  font-weight: 900; }
.section-title-main h3{
 font-family: var(--urdu-font);
 font-size: 1.2rem;
 line-height: 2.5rem;
}

@media (max-width: 550px) {
  .section-title-main{
    margin: 0px 0px;
    border-left: .5rem solid var(--color-one);
    padding:0rem 0rem 0rem 1rem;}
  }
  @media (max-width: 550px) {
    .section-title-main h2{
      font-size: 1.2rem;
      line-height: 1.2rem;
}
    }
    @media (max-width: 550px) {
      .section-title-main h3{
        font-size: .8rem;
        line-height: 1.2rem;}
      }
.section-title{
  display: flex;
  /* border-left: 1rem solid var(--color-one); */
  margin: 10px 0px;
  padding-left: 1rem;
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-one);

}
@media (max-width: 550px) {
  .section-title{
    font-size: 2rem;
   }
  }
th{
  background-color: var(--color-five);
  width: 100%;
  text-align: left;
  display: flex;
  padding-left: 1rem;
  height: 60px;
  align-items: center;
  font-family: var(--text-font);
  color: var(--color-three);
}
@media (max-width: 550px) {
  th {
   font-size: .7rem;
   padding-left: .7rem;
   height: 40px;
   

  }
  }
td {
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: var(--text-font);
}
@media (max-width: 550px) {
  td {
   font-size: .8rem;
   padding-left: .7rem;
   height: 40px;
   border-radius: 5px;

   }
  }
tr {
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  font-family: var(--text-font);
}
@media (max-width: 550px) {
  tr {
   font-size: 1rem;
   padding-left: .7rem;
   justify-content: center;
   height: 30px;
   border-radius: 5px;

   }
  }
.pt-6{
  padding : 5rem 0px;
}
@media (max-width: 550px) {
  .pt-6{
    padding : 2rem 0px;

   }
  }

.ml-6{
  margin-left : 40px;
}
@media (max-width: 550px) {
  .ml-6{
    margin-left : 10px;
    margin-right: 10px;

   }
  }
.btn-primary{
  background-color: lightgray;
  border: var(--color-three);
  color: var(--color-one);
  font-weight: bolder;
  border-radius: 0px;
  padding: 15px 30px;
}
@media (max-width: 550px) {
  .btn-primary{
    padding: 10px 20px;

   }
  }
.btn-primary:hover, .btn-primary:active{
  background-color: var(--color-one);
  border: var(--color-one);
  color: var(--color-three);
  font-weight: bolder;
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background-color: var(--color-one);
  border: var(--color-one);
  color: var(--color-three);
  font-weight: bolder;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--color-two);
}

@media (max-width: 550px) {
.br-10{
  /* border-radius: 5px; */
}
}