.footer-container{
    position: relative;
    display: flex;
    font-family: var(--text-font);
    color: var(--dark-mode);
    min-height: 40px;
    color:var(--color-three);
    background-color: var(--color-one);
    width:100%;
    bottom: 0;
}