.header-container{
    max-height: 100px;
    background-color: var(--color-three);
    font-family: var(--text-font);
}
.logo-container{
    height: 100px;
}
.logo-container img{
    max-height: 100%;
}