.header-container{
    max-height: 100px;
    background-color: var(--color-one);
    font-family: var(--text-font);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: relative;
}
.logo-container{
    height: 100px;
    padding-right: 50px;
}
.logo-container img{
    max-height: 100%;
}


li{
   font-family: var(--text-font);
   font-weight: 600;
   color: var(--color-three);
}
li:hover{
    color: var(--color-two);
 }
.dark-mode{
    padding-left: 10px;
    color:var(--color-two);
    font-weight: 600;
    font-size: 1rem;
}